*{
    margin: 0;
    padding: 0;
}

body{
    color: blue;
    font-size: 12px; /*Tamaño de fuente por defecto*/
    font-family: " Arial"; /*Tipo de letra*/
}

header{
    width: 100%;/*Ocupar todo el ancho de pantalla*/
    height: 100px;/*Altura fija*/
    border-bottom: 1px solid black; /*Poner un borde*/
    display: flex;
    justify-content: space-around;/*Para que se separen*/
    padding: 20px; /*Separando la parte de arriba de la cabezera*/
    background-color: brown; /*Color de fondo*/
}

section{
    width: 100%;
}

.contenedor1{
    width: 100%;
    height: 400px;
    position: relative;/*Capa de zona fija*/
}

.contenedor1 video{
    width: 100%;
    height: auto;
}

.titulo1{
    position: absolute;
    top: 350px;/*Para que baje*/
    left: 33%; /*Colocar al medio*/
}

.titulo1 h2{
    font-size:3rem ;/*Agrandar el tamaño de la letra*/
}

.youtube{
    width: 100%;
    position: relative; /*Para que aparezca el video*/
    top: 500px;
    background-color: black;
}

.youtube .video02{
    
    text-align: center; /*Centrar la iamgen*/
}